<a href="https://colab.research.google.com/github/GiuliaBertolotti/Assignments_Giulia/blob/main/As_2_GIulia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# Import libraries
import pandas as pd # for loading and manipulating data
import matplotlib.pyplot as plt # plotting library

In [15]:
#Load data https://raw.githubusercontent.com/ds4geo/ds4geo_ws2020/master/student_submitted_data/Rossalm_HS_LT_LF_Tim_Philipp.csv?token=ARIGOV46UTQTQS7NBMODYSS7RLFG2
dat_Domefuji=pd.read_csv("https://raw.githubusercontent.com/ds4geo/ds4geo_ws2020/master/student_submitted_data/Rossalm_HS_LT_LF_Tim_Philipp.csv?token=ARIGOV46UTQTQS7NBMODYSS7RLFG2")

In [16]:
# Display an overview of the loaded data
dat_Domefuji

             datetime [CET]  ...  relative humidity [%]
0       2014-08-01 03:30:00  ...                   83.8
1       2014-08-01 03:40:00  ...                   83.4
2       2014-08-01 03:50:00  ...                   84.8
3       2014-08-01 04:10:00  ...                   89.2
4       2014-08-01 04:20:00  ...                   94.2
...                     ...  ...                    ...
324420  2020-10-01 23:20:00  ...                   99.6
324421  2020-10-01 23:30:00  ...                   99.5
324422  2020-10-01 23:40:00  ...                   99.6
324423  2020-10-01 23:50:00  ...                   99.6
324424  2020-10-02 00:00:00  ...                   99.6

[324425 rows x 4 columns]

In [17]:
# Rename columns
dat_Domefuji.columns=["datetime","snow_h","air_temp","rel_hum"]
print(dat_Domefuji.columns)

Index(['datetime', 'snow_h', 'air_temp', 'rel_hum'], dtype='object')

In [ ]:
plt.plot(dat_Domefuji["datetime"],dat_Domefuji["rel_hum"])
plt.xlim(right=10)
plt.ylim(83.8,82.2)

In [ ]:
fig,ax=plt.subplots()
ax2=ax.twinx()
ax.plot(dat_Domefuji["datetime"],dat_Domefuji["snow_h"],label="snow_h")
ax2.plot(dat_Domefuji["datetime"],dat_Domefuji["air_temp"],label="air_temp")